/* MAIN CONTAINER */
.container-fluid {
  background-color: #FFDF9E;
  min-height: 100vh;
  font-family: Helvetica;
}

/* HEADER COMPONENT */
.header-row {
  background-color: #003366;
  min-height: 10vh;
  color: white;
}

.header-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.header-text {
  font-size: calc(20px + 5vmin);
}

/* SEARCH COMPONENT */
.search-col {
  margin-top: 10px !important;
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  justify-content: center;
}

.search-heading {
  font-size: calc(10px + 2vmin);
  text-align: center;
}

@media screen and (max-width: 800px) {
  .search-input, .form-control, .search-button {
    width: 75vw !important;
  }
}

@media screen and (max-width: 1200px) and (min-width: 800px) {
  .search-input, .form-control, .search-button {
    width: 50vw !important;
  }
}

@media screen and (max-width: 1600px) and (min-width: 1200px) {
  .search-input, .form-control, .search-button {
    width: 30vw !important;
  }
}

@media screen and (min-width: 1600px) {
  .search-input, .form-control, .search-button {
    width: 20vw !important;
  }
}

.search-input, .search-input::placeholder {
  text-align: center;
}

.option-col {
  text-align: center;
}

.option-heading {
  font-size: calc(10px + 1vmin);
}

.search-button-container {
  display: flex;
  justify-content: center;
  margin: 0px 0px 10px 0px;
}

/* RECIPE CARDS */
.recipe-row {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.recipe-card {
  text-align: center;
  margin: 15px 5px 15px 5px;
}

.recipe-ingredient-list-element {
  list-style: none;
}