html {
  min-width: 370px;
}

/* MAIN CONTAINER */
.container-fluid {
  min-height: 100vh;
  font-family: 'Raleway', sans-serif;
}



/* HEADER COMPONENT */
#header-row {
  background-color: #003366;
  min-height: 10vh;
  color: white;
  display: flex;
  justify-content: center;
  opacity: 0.925;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#header-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
  max-width: fit-content;
}

#header-text {
  font-size: calc(20px + 5vmin);
  font-weight: 500;
  letter-spacing: 2.5px;
}

#header-subtext {
  margin: -15px 5px 0px 0px;
  font-size: calc(10px + 0.45vmin);
  text-align: right;
  font-weight: 200;
  font-style: italic;
}



/* SEARCH COMPONENT - inputs */
#search-container {
  background-color: white;
  width: fit-content;
  margin: auto;
  border-radius: 0px 0px 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  position: relative;
  z-index: 1;
}

#search-container.row {
  display: block !important;
  padding: 20px;
}

.search-col {
  margin-top: 10px !important;
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  justify-content: center;
}

.search-heading {
  font-size: calc(10px + 2vmin);
  text-align: center;
}

@media screen and (max-width: 800px) {
  .search-input, .form-control, .search-button {
    width: 75vw !important;
  }
}

@media screen and (max-width: 1200px) and (min-width: 800px) {
  .search-input, .form-control, .search-button {
    width: 50vw !important;
  }
}

@media screen and (max-width: 1600px) and (min-width: 1200px) {
  .search-input, .form-control, .search-button {
    width: 30vw !important;
  }
}

@media screen and (min-width: 1600px) {
  .search-input, .form-control, .search-button {
    width: 20vw !important;
  }
}

.search-input, .search-input::placeholder {
  text-align: center;
}



/* SEARCH COMPONENT - select, option */
#select-container {
  display: flex;
  justify-content: center;
}

#select-col {
  text-align: center;
}

#select-cards-amount {
  width: fit-content;
  text-align: center;
  text-align-last: center;
}

.select-option {
  text-align: left;
  font-size: larger;
}




/* RECIPE CARDS */
.recipe-card {
  border: 1px solid black !important;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.card-body {
  padding: 0px !important;
}

.recipe-row {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.recipe-card {
  text-align: center;
  margin: 15px 5px 15px 5px;
}

.recipe-ingredient-list-element, .recipe-instructions-list-element {
  list-style: none;
}

.recipe-component-titles {
  font-weight: 600;
  margin-bottom: 5px;
}

#recipe-card-title {
  font-size: calc(15px + 1.25vmin);
  background-color: #FFCC99;
  padding: 10px 0px 10px 0px !important;
  border-bottom: 1px solid black;
  font-weight: 600;
}

#star {
  margin: 20px 0px 20px 0px;
  width: 50px;
  height: 50px;
}

#star:hover path {
  cursor: pointer;
  color: #003366;
}

button {
  margin: 5px 0px 5px 0px !important;
  max-width: fit-content !important;
  background-color: #343A40 !important;
  font-weight: 500 !important;
  letter-spacing: 1.5px;
  border: 1px solid black !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

button:hover {
  background-color: #003366 !important;
  border: 1px solid white !important;
}

.recipe-button-row {
  justify-content: center;
}